.border-0 { border: 0; }
.border-1 { border: 1px solid; }

.border-top-0 { border-top: 0; }
.border-top-1 { border-top: 1px solid; }

.border-bottom-0 { border-bottom: 0; }
.border-bottom-1 { border-bottom: 1px solid; }

.border-right-0 { border-right: 0; }
.border-right-1 { border-right: 1px solid; }

.border-left-0 { border-left: 0; }
.border-left-1 { border-left: 1px solid; }

.border-white { border-color: whitesmoke; }
