.m0 { margin: 0; }
.m1 { margin: 8px; }
.m2 { margin: 16px; }
.m3 { margin: 24px; }
.m4 { margin: 32px; }

.mt0 { margin-top: 0; }
.mt1 { margin-top: 8px; }
.mt2 { margin-top: 16px; }
.mt3 { margin-top: 24px; }
.mt4 { margin-top: 32px; }

.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: 8px; }
.mb2 { margin-bottom: 16px; }
.mb3 { margin-bottom: 24px; }
.mb4 { margin-bottom: 32px; }

.ml0 { margin-left: 0; }
.ml1 { margin-left: 8px; }
.ml2 { margin-left: 16px; }
.ml3 { margin-left: 24px; }
.ml4 { margin-left: 32px; }

.mr0 { margin-right: 0; }
.mr1 { margin-right: 8px; }
.mr2 { margin-right: 16px; }
.mr3 { margin-right: 24px; }
.mr4 { margin-right: 32px; }
