.p0 { padding: 0; }
.p1 { padding: 8px; }
.p2 { padding: 16px; }
.p3 { padding: 24px; }
.p4 { padding: 32px; }

.pt0 { padding-top: 0; }
.pt1 { padding-top: 8px; }
.pt2 { padding-top: 16px; }
.pt3 { padding-top: 24px; }
.pt4 { padding-top: 32px; }

.pb0 { padding-bottom: 0; }
.pb1 { padding-bottom: 8px; }
.pb2 { padding-bottom: 16px; }
.pb3 { padding-bottom: 24px; }
.pb4 { padding-bottom: 32px; }

.pl0 { padding-left: 0; }
.pl1 { padding-left: 8px; }
.pl2 { padding-left: 16px; }
.pl3 { padding-left: 24px; }
.pl4 { padding-left: 32px; }

.pr0 { padding-right: 0; }
.pr1 { padding-right: 8px; }
.pr2 { padding-right: 16px; }
.pr3 { padding-right: 24px; }
.pr4 { padding-right: 32px; }
